table
    thead
        tr
            th Pharetra
            th Malesuada
            th Malesuada
            th Malesuada
    tbody
        tr
            td Pharetra
            td Malesuada
            td Malesuada
            td Malesuada
        tr
            td Pharetra
            td Malesuada
            td Malesuada
            td Malesuada
        tr
            td Pharetra
            td Malesuada
            td Malesuada
            td Malesuada
        tr
            td Pharetra
            td Malesuada
            td Malesuada
            td Malesuada