.color{

    &-main{
        color: @main;
        
        p{
            color: @main;
        }
    }

    &-black{
        color: @black;
        
        p{
            color: @black;
        }
    }

    &-white{
        color: @white;
        
        p{
            color: @white;
        }
    }
}